<div class='landing-page'>
  <div class='content-bg-wrap'></div>
  <div class='header--standard header--standard-landing' style='position: relative' id='header--standard'>
    <div class='container'>
      <div class='header--standard-wrap'>
        <a href='#' class='logo'>
          <div class='img-wrap'>
            <img loading='lazy' src='./assets/img/logo.png' style='width: 200px' alt='Olympus'>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row display-flex'>
      <div class='col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12'>
        <div class='landing-content'>
          <h1>"Pangolin discriminé, Pangolin outragé, Pangolin brisé, Pangolin martyrisé, mais Pangolin libéré !"</h1>
          <p>Pangolin Rebels : le groupe de soutien
          </p>
        </div>
      </div>

      <div class='col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12'>
        <div class='registration-login-form'>
          <tabset>
            <tab heading='Se connecter' id='tab1'>
              <form class='content' [formGroup]='loginForm'>
                <div class='row'>
                  <div class='col'>
                    <div class='form-group '>
                      <label class='control-label'>Nom d'utilisateur</label>
                      <input class='form-control' placeholder="Nom d'utilisateur" formControlName='username'
                             type='text'>
                    </div>
                    <div class='form-group '>
                      <label class='control-label'>Mot de passe</label>
                      <input class='form-control' placeholder='Mot de passe' formControlName='password' type='password'>
                    </div>
                    <button (click)='login()' class='btn btn-lg btn-primary full-width'>Se connecter</button>
                  </div>
                </div>
              </form>
            </tab>
            <tab heading="S'inscrire">
              <form class='content' [formGroup]='registerForm'>
                <div class='row'>
                  <div class='col '>
                    <div class='form-group '>
                      <label class='control-label'>Nom d'utilisateur</label>
                      <input class='form-control' placeholder="Nom d'utilisateur" formControlName='username'
                             type='text'>
                    </div>
                    <div class='form-group '>
                      <label class='control-label'>Email</label>
                      <input class='form-control' placeholder='Email' formControlName='email' type='email'>
                    </div>
                    <div class='form-group '>
                      <label class='control-label'>Mot de passe</label>
                      <input class='form-control' placeholder='Mot de passe' formControlName='password' type='password'>
                    </div>
                    <button (click)='register()' class='btn btn-lg btn-primary full-width'>Nous rejoindre !</button>

                  </div>
                </div>
              </form>
            </tab>
          </tabset>

        </div>
      </div>
    </div>
  </div>
</div>
