<div class='login-wrapper '>
  <div class='bg-pic'>
    <div class='bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20'>
      <h2 class='semi-bold text-white'>
        "Pangolin discriminé, Pangolin outragé, Pangolin brisé, Pangolin martyrisé, mais Pangolin libéré !"</h2>

      <p class='small'>
        Pangolin Rebels : le groupe de soutien ©2021.
      </p>
    </div>
  </div>
  <div class='login-container bg-white'>
    <div class='p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40'>
      <img src='assets/img/logo.png' width='78'>

      <p class='p-t-35'>Connectez vous à Pango Rebels</p>
      <form class='p-t-15' role='form' [formGroup]='loginForm'>
        <div pgFormGroupDefault class='form-group form-group-default'
             [class.has-error]='email.invalid && (email.dirty || email.touched)'>
          <label>Votre email</label>
          <input type='text' formControlName='email' required placeholder='Email' class='form-control'>
        </div>
        <div *ngIf='email.invalid && (email.dirty || email.touched)'>
          <label *ngIf='email.errors' class='error'>Entre un email correct</label>
        </div>
        <div pgFormGroupDefault class='form-group form-group-default'
             [class.has-error]='password.invalid && (password.dirty || password.touched)'>
          <label>Votre mot de passe</label>
          <input type='password' class='form-control' placeholder='Mot de passe' formControlName='password' required>
        </div>
        <div *ngIf='password.invalid && (password.dirty || password.touched)'>
          <label *ngIf='password.errors.required' class='error'>Le mot de passe est requis</label>
        </div>
        <button class='btn btn-primary btn-cons m-t-10' (click)='login()' [class.disabled]='loginForm.invalid'>Se connecter
        </button>
      </form>
      <div class=''>
        <div class='m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix'>
          <div class='col-sm-12 no-padding m-t-10'>
            <p>
              <small>
                Vous n'avez pas encore de compte ?  <a routerLink='/auth/register' class='text-info'>S'inscrire</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
